<div class="layout__form bigform">
<h4><strong><%= t('layout.title.profile') %></strong></h4>
  <br>
  <%= display_picture(@user, 100, 100, "img-responsive img-circle") %>

  <h4><p>
    <strong>
<!--       <s%= t 'user.name'%>: -->
      <%= @user.nickname %>
    </strong>
  </p></h4>
  <br>
  <ul><li>
    <p style="font-size:14px; display: inline">
      <%= t 'user.name'%>:
      <%= @user.name %>
    </p>
  </li></ul>
  <ul><li>
    <p style="font-size:14px; display: inline">
      <%= t 'user.email'%>:
      <%= @user.email %>
    </p>
  </li></ul>
  <ul><li>
    <p style="font-size:14px; display: inline">
      <%= t 'user.birth'%>:
      <%= @user.birth.strftime("%d/%m/%Y") %>
    </p>
  </li></ul>
  <ul><li>
    <p style="font-size:14px; display: inline">
      <%= t 'user.gender' %>:
      <% if @user.gender == true %>
        <%= t 'user.male' %>
      <% else %>
        <%= t 'user.female' %>
      <% end %>
    </p>
  </li></ul>
  <% if @user.city != '' %>
    <ul><li>
      <p style="font-size:14px; display: inline">
        <%= t 'user.city' %>:
        <%= @user.city %>
      </p>
    </li></ul>
  <% end %>
  <% if @user.phone != '' %>
    <ul><li>
      <p style="font-size:14px; display: inline">
        <%= t 'user.phone' %>:
        <%= @user.phone %>
      </p>
    </li></ul>
  <% end %>
  <% if @user.mobile != '' %>
    <ul><li>
      <p style="font-size:14px; display: inline">
        <%= t 'user.mobile' %>:
        <%= @user.mobile %>
      </p>
    </li></ul>
  <% end %>
  <div align="right">
     <%= link_to(t('button.edit'), edit_user_user_path(@user), class: 'btn btn-large btn-primary')  %>
  </div>
</div>
