<h2><%= t ('layout.title.login') %></h2>

<div class="layout__form bigform">

  <% if @user_session.errors.has_key? :base %>
    <div class="alert alert-danger" role="alert">
      <%= @user_session.errors[:base].join(', ') %>
    </div>
  <% end %>

  <%= form_for @user_session, :html => {:class => "form-horizontal"} do |f| %>
    <div class="control-group">
      <%= f.label :email, t('user..email'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :placeholder => t('user..email'), class: "form-control" %>
      </div>
      <div style="color:red">
        <%= error_tag @user_session, :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, t('user..password'), class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => t('user.password'), class: "form-control" %>
      </div>
      <div style="color:red">
        <%= error_tag @user_session, :password %>
      </div>
    </div><br>
    <div align="right">
      <%= f.submit t('button.login'), class: "btn btn-default btn-primary" %>
    </div>
  <% end %>
</div>