<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th class="text-center"><%= t('competition.name') %></th>
        <th class="text-center"><%= t('competition.place') %></th>
        <th class="text-center"><%= t('layout.options') %></th>
      </tr>
    </thead>

    <tbody>
      <% @comp_competitions.each do |competition| %>
        <tr>
          <td class="text-center"><%= competition.name %></td>
          <td class="text-center"><%= competition.place %></td>
          <td class="text-center">
            <%= link_to t('button.join'), pred_predictions_path(competition_id: competition.id), method: :post , class:"btn btn-primary btn-xs", data: {confirm: t('confirmation.sure')}, "data-confirm-fade" => true, "data-confirm-title" => "BBGame", "data-confirm-cancel" => t('button.cancel'), "data-confirm-proceed" => t('button.join') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  