<br>
<div class="layout__form bigform">
<div class="text-center link">
<!--   <s%= link_to @pred_prediction.competition.name, pred_prediction_path(@pred_prediction), class: "h3", style: "text-decoration: none;" %> -->
  <h4><strong>
    <%= link_to @pred_prediction.competition.name, pred_prediction_path(@pred_prediction) %>
  </strong></h4>
</div><br> 
<div class="text-center">
  <h4>
    <span style="float:left">
      <% if @pred_round.round.number_round == 1 %>
        <%= link_to "<<", pred_prediction_assign_fixtures_path(@pred_prediction, pred_round_id: @pred_round.id, d: 1), class:"btn btn-default btn-sm", disabled: true %>
      <% else %>
        <%= link_to "<<", pred_prediction_assign_fixtures_path(@pred_prediction, pred_round_id: @pred_round.id, d: 1), class:"btn btn-default btn-sm" %>
      <% end %>
    </span>
    <span>
      <%= t('prediction.round') %><%= @pred_round.round.number_round %>
    </span>
    <span style="float:right">
      <% if @pred_round.round.number_round == @pred_prediction.competition.number_rounds %>
        <%= link_to ">>", pred_prediction_assign_fixtures_path(@pred_prediction, pred_round_id: @pred_round.id, d: 2), class:"btn btn-default btn-sm",
          disabled: true %>
      <% else %>
        <%= link_to ">>", pred_prediction_assign_fixtures_path(@pred_prediction, pred_round_id: @pred_round.id, d: 2), class:"btn btn-default btn-sm" %>
      <% end %>
    </span>
  </h4>
</div>
<br>

<!-- <div class="table-responsive"> -->
  <%= form_for :pred_fixture, :url => pred_prediction_update_round_path, :html => { :method => :put } do %>
    <table class="table"> <!-- class="table table-striped table-hover"> -->
      <% @pred_fixtures.includes(:fixture).each do |pred_fixture| %>
        <%= fields_for "pred_fixture[]", pred_fixture do |pred_fixture_fields| %>

          <% if pred_fixture.filled %>
            <tr>
              <td colspan="4" class="text-center">
                <h6><%= pred_fixture.fixture.date.strftime("%d/%m/%Y") %> -
                <%= pred_fixture.fixture.hour.strftime("%H:%M") %> -
                <%= pred_fixture.fixture.local %></h6>
              </td>
            </tr>
            <tr class="success">
              <td>
                <div class="vcenter" style="float:left">
                  <%= display_flag_from_team(pred_fixture.fixture.team1_id, 25, 25, "img-responsive img-circle") %>
                </div>
                <div class="vcenter">
                  <%= pred_fixture_fields.label(get_team_short_name(pred_fixture.fixture.team1_id), get_team_short_name(pred_fixture.fixture.team1_id), title: get_team_name(pred_fixture.fixture.team1_id)) %>
                </div>
              </td>
              
              <% if pred_fixture.out_of_date_time || pred_fixture.fixture.done %>
                <td class="text-center">
                  <%= pred_fixture.pred_result_team1 %>
                </td>
                <td class="text-center">
                  <div class="vcenter" style="float:left">&times;&nbsp;&nbsp;</div> 
                  <%= pred_fixture.pred_result_team2 %>
                </td>
              <% else %>
                <td class="text-center">
                  <%= pred_fixture_fields.number_field :pred_result_team1, min: 0, max: 99, style: "width: 30px;" %>
                </td>
                <td class="text-center">
                  <%= pred_fixture_fields.number_field :pred_result_team2, min: 0, max: 99, style: "width: 30px;" %>
                </td>
              <% end %>

              <td>
                <div class="vcenter" style="float:left">
                  <%= display_flag_from_team(pred_fixture.fixture.team2_id, 25, 25, "img-responsive img-circle") %>
                </div>
                <div class="vcenter">
                  <%= pred_fixture_fields.label(get_team_short_name(pred_fixture.fixture.team2_id), get_team_short_name(pred_fixture.fixture.team2_id), title: get_team_name(pred_fixture.fixture.team2_id)) %>
                </div>
              </td>
            </tr>
          <% else %>
            <tr>
              <td colspan="4" class="text-center">
                <h6><%= pred_fixture.fixture.date.strftime("%d/%m/%Y") %> -
                <%= pred_fixture.fixture.hour.strftime("%H:%M") %> -
                <%= pred_fixture.fixture.local %></h6>
              </td>
            </tr>
            <tr class="danger">
              <td>
                <div class="vcenter" style="float:left">
                  <%= display_flag_from_team(pred_fixture.fixture.team1_id, 25, 25, "img-responsive img-circle") %>
                </div>
                <div class="vcenter">
                  <%= pred_fixture_fields.label(get_team_short_name(pred_fixture.fixture.team1_id), get_team_short_name(pred_fixture.fixture.team1_id), title: get_team_name(pred_fixture.fixture.team1_id)) %>
                </div>
              </td>
              
              <% if pred_fixture.out_of_date_time || pred_fixture.fixture.done %>
                <td class="text-center">
                  <%= pred_fixture.pred_result_team1 %>
                </td>
                <td class="text-center">

                <div class="vcenter" style="float:left">
                  <%= display_flag_from_team(pred_fixture.fixture.team2_id, 25, 25, "img-responsive img-circle") %>
                </div>

                  <%= pred_fixture.pred_result_team2 %>
                </td>
              <% else %>
                <td class="text-center">
                  <%= pred_fixture_fields.number_field :pred_result_team1, min: 0, max: 99, style: "width: 30px;" %>
                </td>
                <td class="text-center">
                  <%= pred_fixture_fields.number_field :pred_result_team2, min: 0, max: 99, style: "width: 30px;" %>
                </td>
              <% end %>

              <td>
                <div class="vcenter" style="float:left">
                  <%= display_flag_from_team(pred_fixture.fixture.team2_id, 25, 25, "img-responsive img-circle") %>
                </div>
                <div class="vcenter">
                  <%= pred_fixture_fields.label(get_team_short_name(pred_fixture.fixture.team2_id), get_team_short_name(pred_fixture.fixture.team2_id), title: get_team_name(pred_fixture.fixture.team2_id)) %>
                </div>
              </td>
            </tr>
          <% end %>

          <% if pred_fixture.fixture.done %>
            <tr class="text-center">
              <td class="text-center" colspan="3">
                <h6><strong>
                  <%= t('prediction.final_result')%>: 
                  <%= get_team_short_name(pred_fixture.fixture.team1_id) %>
                  <%= pred_fixture.fixture.result_team1 %> &times;
                  <%= pred_fixture.fixture.result_team2 %>
                  <%= get_team_short_name(pred_fixture.fixture.team2_id) %>
                </strong></h6>
              </td>
              <td>
                <h6><strong>
                  <%= t('prediction.points')%>: <%= pred_fixture.points %>
                </strong></h6>
              </td>
            </tr>
          <% end %>

        <% end %>
      <% end %>
    </table>
    
    <div class="actions text-center">
      <%= link_to t('button.back'), pred_prediction_path(@pred_prediction), class: "btn btn-default btn-sm" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if @pred_round.round.done == false %>
        <%= submit_tag t('button.save'), remote: true, class:"btn btn-primary btn-sm" %>
      <% end %>
    </div>
  <% end %>
<!-- </div> -->
</div>

<style type="text/css">
  input{
    text-align:center;
  }
</style>
