<div class="layout__form bigform">

<!-- <h4><s%= t('prediction.ranking_users')+" - "+@pred_prediction.competition.name %></h4> -->
<h4 class="text-center">Ranking</h4>
<div class="text-right">
  <% if current_page?(pred_prediction_pred_ranking_path(@pred_prediction)) %>
    <%= link_to @competition.name, pred_prediction_path(@pred_prediction), class:"btn btn-default btn-sm" %>
  <% end %>
</div>
<br>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center"></th>
        <th class="text-center"><%= t('prediction.user') %></th>
        <th class="text-center"><%= t('prediction.points') %></th>
        <!-- <th class="text-center"><s%= t('layout.options') %></th> -->
      </tr>
    </thead>

    <tbody>
      <% @predictions.order('position').includes(:user).each do |prediction_user| %>
        <tr>
          <td class="text-center"><%= prediction_user.position %></td>
          <td>
            <div class="vcenter" style="float:left">
              <%= display_picture_from_user(prediction_user.user_id, 18, 18, "img-responsive img-circle") %>
            </div>&nbsp;
            <div class="vcenter">
<!--               <s%= prediction_user.user.name %> -->
              <%= link_to prediction_user.user.name, look_fixtures_pred_look_index_path(prediction_id: prediction_user.id), class:"link" %>
            </div>
          </td>
          <td class="text-center"><%= prediction_user.points %></td>
<!--           <td class="text-center">
            <s%= link_to t('look.see_results'), look_fixtures_pred_look_index_path(prediction_id: prediction_user.id), class:"btn btn-default btn-xs" %>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_to t('prediction.ranking_full'), pred_prediction_pred_ranking_path(@pred_prediction),
       class: "btn btn-default btn-sm btn-block" %>
</div>
<br>

</div>
