<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand brand">
        <strong>
          <%= link_to image_tag('logo/ball_icon.png', size: "35x35") + BBGame, root_path, style: "color:white"%>
        </strong>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t('competition.title'),  pred_predictions_path %></li>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Group <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Create Group</a></li>
            <li><a href="#">Delete Group</a></li>
            <li><a href="#">Add Player</a></li>
            <li class="divider"></li>
            <li><a href="#">Remove Player</a></li>
            <li class="divider"></li>
            <li><a href="#">Ranking</a></li>
          </ul>
        </li> -->
        <% if user_admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('navbar.admin') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to t('user.title'), user_users_path %></li>
              <li><%= link_to t('team.title'), team_teams_path %></li>
              <li><%= link_to t('competition.title'), comp_competitions_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<!--         <li>
          <div class="navbar-brand brand">
            <strong>
              <s%= link_to display_picture(@user, 30, 30, "img-responsive img-circle"),
                    user_user_path(current_user) %>
            </strong>
          </div>
        </li> -->
        <li>
          <%= link_to t('navbar.profile'), user_user_path(@user) %>
        </li>
        <li>
          <%= link_to t('navbar.signout'),
            user_user_sessions_path, method: :delete %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('idiom.language') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to image_tag('language/icon-pt-BR.png', size: "25x25") + ' '+t('idiom.pt'), :locale=>'pt-BR' %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to image_tag('language/icon-en-usa.png', size: "25x25") + ' '+t('idiom.en'), :locale=>'en' %>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>
