<!DOCTYPE html>
<html>
<head>
  <title>BBGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</head>
<body>
  <div class="container">
    <div class="span12">
      <div class="layout">

        <div class="layout__header">
          <header>
            <% if user_signed_in? %>
            <%= render 'layouts/user_navbar' %>
            <% else %>
            <%= render 'layouts/visitor_navbar' %>
            <% end %>
          </header>
        </div>

        <div class="layout__main">
          <section class="container">
            <!-- <div class="container-fluid"> -->
              <!-- <div class="row-fluid"> -->
                <!-- <div class="col-md-9" style="background-color:#e5e5ff;"> -->
                <div class="col-md-9">
                  <% if notice.present? %>
                    <p class="alert alert-success" role="alert"><%= notice %></p>
                  <% end %>
                  <% if alert.present? %>
                    <p class="alert alert-danger" role="alert"><%= alert %></p>
                  <% end %>
                  <%= yield %>
                </div>
<!--                 <div class="col-md-3" style="background-color:#ffe5e5;"> -->
                <div class="col-md-3"><br>
                  <h5><p class="text-center text-muted"><%= t('layout.advertising')%></p></h5>
                  <!-- Ad1 -->
                  <ins  class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-4813074202734304"
                        data-ad-slot="7656384679"
                        data-ad-format="auto"></ins>
                  <!-- ad2 -->
                  <ins  class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-4813074202734304"
                        data-ad-slot="1609851072"
                        data-ad-format="auto"></ins>
                        
<!-- 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4813074202734304"
     data-ad-slot="7656384679"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4813074202734304"
     data-ad-slot="1609851072"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

 -->

                </div>
              <!-- </div> -->
            <!-- </div> -->
          </section>
        </div>

        <div class="layout__footer">
          <footer>
            <nav class="navbar navbar-default navbar-fixed-bottom">
              <div class="container"><br>
                <center>
                  <h6><p style="color:#ffffff;">
                    <strong><%= t('general.copyright') %></strong>
                  </p></h6>
                </center>
              </div>
            </nav>
          </footer>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
